# 1. PyTorch bản CPU (Cập nhật phiên bản mới phù hợp với hệ thống)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.13.0+cpu
torchvision

# 2. CỐT LÕI AI & RAG
streamlit
google-genai
sentence-transformers
rank-bm25

# 3. Xử lý Dữ liệu và Thống kê 
pandas
numpy
scipy
statsmodels

# 4. Thống kê chuyên sâu Y khoa
tableone==0.8.0
pingouin
lifelines

# 5. Tiện ích, Đọc/Ghi file & Crawl API
PyMuPDF
python-docx
openpyxl
requests
tabulate
google-search-results
duckduckgo-search
